<%- include('parts/header.ejs') %>

<body>
    <h1><%= projectTitle %></h1>
    <% for(let item of runList) { %>
        <div>
            <h1><%= item.location %></h1>
            <p><%= formatDate(item.date) %></p>
            <h3><%= item.distance %> mi</h3>
            <p>Pace: <%= item.pace %>/mi</p>
            <p>Comment: <%= item.comments%></p>
        </div>
    <% } %>
</body>

<%
// Define the formatDate function
function formatDate(date) {
    // Create a new Date object from the date string
    const formattedDate = new Date(date);
    
    // Extract the month, day, and year components from the date
    const month = String(formattedDate.getMonth() + 1).padStart(2, '0'); // Adding 1 to get the correct month (months are zero-indexed)
    const day = String(formattedDate.getDate()).padStart(2, '0'); // Pad the day with leading zero if necessary
    const year = formattedDate.getFullYear(); // Get the full year
    
    // Combine the components to form the formatted date string
    const formattedDateString = `${month}-${day}-${year}`;
    
    // Return the formatted date string
    return formattedDateString;
}
%>

<%- include('parts/footer.ejs') %>