<%- include('parts/header.ejs') %>

<body>
    <div class="title-container">
        <h1 id="title"><%= projectTitle %></h1>
        <i id="add" class="material-icons">add</i>
    </div>
    <div class="run-container">
        <% for(let item of runList) { %>
            <section class="data-container">
                <div class="location-date-container">
                    <h3 id="location-text"><%= item.location %></h1>
                    <div class="utils">
                        <i id="edit" class="material-icons">edit</i>
                        <i id="delete" class="material-icons">delete</i>
                        
                        
                    </div>
                </div>
                <div class="distance-pace-container">
                    <p id="date-text"><%= formatDate(item.date) %></p>
                    <p id="distance-text"><%= item.distance %> mi</h3>
                    <p id="pace-text"><%= item.pace %>/mi</p>
                </div>
                <p id="comment-text">Comment: <%= item.comments%></p>
            </section>
        <% } %>
    </div>
    <script src="https://kit.fontawesome.com/0d8f725419.js" crossorigin="anonymous"></script>
</body>


<% 
function formatDate(date) {
    const formattedDate = new Date(date);
    const options = { month: 'long', day: 'numeric', year: 'numeric' };
    const formattedDateString = formattedDate.toLocaleString('en-US', options);
    return formattedDateString;
}
%>

<%- include('parts/footer.ejs') %>